<tr>
    <td><%= u.name %></td>
    <td><%= u.email %></td>
    <td><%= u.type || 'user' %></td>
    <td>
      <%= user.email === u.email ? 'Me' : u.name %> (<%= u.type %>)
    </td>
    <td>
      <% if (u.type === 'admin') { %>
        <a href="/demote/<%= u.email %>" class="btn btn-warning btn-sm">Demote</a>
      <% } else { %>
        <a href="/promote/<%= u.email %>" class="btn btn-success btn-sm">Promote</a>
      <% } %>
    </td>
  </tr>
  